body {
    font-family: sans-serif;
}
table {
    border: 1px solid rgb(200, 200, 200);
    caption-side: bottom;
}
th {
    background: lightyellow;
}
th, td {
    border: 1px solid rgb(200, 200, 200);
    padding: 5px;
}