h4 {
    font: 18px sans-serif;
    letter-spacing: -1px;
    background: lightyellow;
    color: saddlebrown;
    margin-bottom: 0;
    border-bottom: 1px solid khaki;
}
p {
    color: darkkhaki;
    margin-top: 0;
    font-size: 14px;
}