body {
    font: 12px sans-serif;
}
div.margin-wrapper {
    background: lightyellow;
    border: 1px solid gold;
    float: left;
    margin: 5px;
}
p {
    clear: left;
    margin: 5px;
}
div.margin-wrapper div {
    background: khaki;
    border: 1px solid black;
    width: 25px;
    height: 25px;
}
div#margin {
    margin: 4px 6px 8px 10px;
}
div#margin-properties {
    margin-top: 2px;
    margin-right: 4px;
    margin-bottom: 6px;
    margin-left: 8px;
}
div#margin-three {
    margin: 2px 10px 4px;
}
div#margin-two {
    margin: 2px 10px;
}
div#margin-one {
    margin: 2px;
}
div.alignment {
    float: none;
}
div#margin-left {
    margin-right: auto;
}
div#margin-center {
    margin: 0 auto;
}
div#margin-right {
    margin-left: auto;
}
div#top {
    margin: 5px;
}
div#bottom {
    margin: 5px;
}
div#parent {
    margin: 5px;
    border: none;
    background: crimson;
}
div#child {
    margin: 5px;
}