div#container {
    font: 16px sans-serif;
    border: 1px solid black;
    margin: 0 20px;
    background: yellow;
}
a:hover {
    background: orange;
}
div#float {
    background: gold;
    float: left;
    border: 1px solid black;
    width: 150px;
    height: 150px;
    margin: 5px;
}
ul {
    margin: 0;
    list-style: none;
}