div {
    width: 100px;
    height: 100px;
    border: 1px solid rgb(234, 234, 234);
    margin: 4px;
    float: left;
    background-image: url('star.png');
}
div#repeat {
    background-position: center center;
    background-repeat: repeat;
}
div#repeat-single {
    background-position: center;
    background-repeat: repeat;
}
div#repeat-x-control {
    background-repeat: repeat-x;
}
div#repeat-x {
    background-position: center center;
    background-repeat: repeat-x;
}
div#repeat-x-single {
    background-position: center;
    background-repeat: repeat-x;
}
div#repeat-y-control {
    background-repeat: repeat-y;
}
div#repeat-y {
    background-position: center center;
    background-repeat: repeat-y;
}
div#repeat-y-single {
    background-position: center;
    background-repeat: repeat-y;
}
br {
    clear: both;
}