html {
    background: #fff url('fruit_veg_web.jpg') no-repeat fixed center center;
}
body {
    font-family: monospace;
    padding: 10px;
    margin: 10px;
    /* Moz proprietary opacity property */
    -moz-opacity: 0.7;
    /* Microsoft proprietary filter property */
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
    /* CSS 3 opacity property */
    opacity: 0.7;
    background: url('cross_hatch.jpg') repeat;
}
table.recipe {
    width: 100%;
    margin-bottom: 5px;
    table-layout: fixed;
}
caption {
    text-align: left;
    margin-bottom: 5px;
    text-transform: lowercase;
    font-size: 160%;
    padding: 5px;
    letter-spacing: 10px;
    font-weight: bold;
}
table.recipe thead th {
    font-weight: bold;
    font-size: 150%;
    color: black;
}
table.recipe thead th, table.recipe tbody td {
    padding: 5px;
    text-transform: lowercase;
}
table.recipe tbody td, table.recipe tfoot td {
    font-size: 130%;
}
table.recipe tfoot td {
    padding: 5px;
}
table.recipe tfoot td p {
    padding: 5px;
}
li {
    margin-left: 30px;
    padding-left: 30px;
}
th, td {
    border: 1px solid crimson;
}