body {
    background: lightyellow;
    font: 12px sans-serif;
    margin: 0;
    padding: 0;
}
div#left,
div#right {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 200px;
    background: white;
    padding: 5px;
}
div#left {
    left: 0;
    border-right: 1px solid rgb(200, 200, 200);
}
div#right {
    right: 0;
    border-left: 1px solid rgb(200, 200, 200);
}
div#container {
    position: absolute;
    top: 0;
    right: 211px;
    bottom: 0;
    left: 211px;
    overflow: auto;
    padding: 0 10px;
    line-height: 2em;
}
div#footer p {
    margin: 0;
}