body {
    margin: 0;
    padding: 0;
}
div {
    width: 100px;
    height: 100px;
}
div#parent {
    margin: 10px 20px;
    background: yellow;
}
div#child {
    margin: 20px;
    background: lightyellow;
    border: 1px solid gold;
}