div#footer {
    width: expression(documentElement.offsetWidth);
}
div#container {
    top: auto;
    bottom: 30px;
    width: expression(documentElement.offsetWidth - 21);
    height: expression(documentElement.offsetHeight - 35);
}