body {
    background: lightyellow;
}
ul {
    list-style: none;
    width: 200px;
}
li {
    background: pink;
    border: 1px solid red;
    margin: 2px;
    position: relative;
    width: 200px;
    height: 20px;
}
div {
    background: lightblue;
    border: 1px solid blue;
    position: absolute;
    z-index: 2;
    top: 2px;
    left: 150px;
    height: 100px;
    width: 200px;
}