li#disc {
    list-style-type: disc;
}
li#circle {
    list-style-type: circle;
}
li#square {
    list-style-type: square;
}
li#none {
    list-style-type: none;
}
ul#square {
    list-style-type: square;
}