body {
    font: 14px sans-serif;
}
h4 {
    border-bottom: 1px solid pink;
    margin-bottom: 3px;
}
p {
    margin: 0;
}
.code {
    font-family: monospace;
}
.higher,
.lower {
    word-spacing: 15px;
    background: mistyrose;
    color: crimson;
}
.lower {
    word-spacing: -5px;
}