body {
    margin: 0;
    padding: 0;
}
div#box-wrapper {
    background: #ff0;
    border: 1px solid #fff;
}
div#box {
    border: 20px solid #f6c;
    margin: 20px;
    padding: 20px;
    background: #f90;
}
div#box-inner {
    background: #fff;
    color: rgb(244, 244, 244);
}